# Python
__pycache__/
*.pyc

# Base de datos local
*.db
*.db-journal

# VSCode
.vscode/

# uploads (ignorar contenido pero mantener carpeta)
uploads/*
!uploads/.keep

# Mac
.DS_Store

# Excel local
*.xlsx